<header id="header">
  <div class="container">

    <div class="logo float-left">
      <%= image_tag "logo-white.png", height: '100' %>
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li class="active"><a href="#intro">Home</a></li>
        <li><a href="about">About Us</a></li>
        <li><a href="berries">Our Berries</a></li>
        <li><a href="team">Our Team</a></li>
        <li><a href="contact">Contact Us</a></li>
      </ul>
    </nav>

  </div>
</header>

<section id="intro" class="clearfix">
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">

      <div class="col-md-6 intro-info order-md-last order-first">
        <h2><span>Modern Orchard </span> in Kenya covering <br> acres of fruit trees </span> and <span>Hydroponic
            Systems</span></h2>
        <div>
          <a href="about.html" class="btn-get-started">Get Started</a>
        </div>
      </div>
    </div>

  </div>
</section>

<footer id="footer" class="section-bg">
  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong style="color: #c31c2d;"> Climgric</strong>. All Rights Reserved
    </div>
  </div>
</footer>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
