<header id="header">
  <div class="container">

    <div class="logo float-left">
      <%= image_tag "logo-black.png", height: '100' %>
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href="about">About Us</a></li>
        <li><a href="berries">Our Berries</a></li>
        <li class="active"><a href="team">Our Team</a></li>
        <li><a href="contact">Contact Us</a></li>
      </ul>
    </nav>

  </div>
</header>

<div id="main">
<section id="why-us" class="wow fadeIn">
  <div class="container-fluid">

    <header class="section-header">
      <h3>Why choose us?</h3>
      <p>ClimGric grew from the need to promote health ,agriculture and positive climate change within the East
        African region.</p>
    </header>

    <div class="row">

      <div class="col-lg-6">
        <div class="why-us-img">
          <%= image_tag "why.png", class: "img-fluid" %>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="why-us-content">
          <p>Ours is a story of how much pride we have in raising generations that are climate conscience even as
            they eat.
            It is a tale of freshness, health and beauty all blended together to form a mocktail of goodness
            ”Shilayi”.
          </p>

          <div class="features wow bounceInUp clearfix">
            <i class="fa fa-hospital-o" style="color: #f058dc;"></i>
            <h4>Customers</h4>
            <p>Our Berries are currently being enjoyed widely by our esteemed customers who are mainly in the
              manufacturing and hospitality sectors.</p>
          </div>

          <div class="features wow bounceInUp clearfix">
            <i class="fa fa-globe" style="color: #ffb774;"></i>
            <h4>Location</h4>
            <p>ClimGric Farms are beautifully spread in Konza, Kisumu,Busia and Nyahururu regions in Kenya.We get to
              enjoy different climates for this regions that plant different fruits.</p>
          </div>

          <div class="features wow bounceInUp clearfix">
            <i class="fa fa-envira" style="color: #589af1;"></i>
            <h4>Environment Conservation</h4>
            <p>Our mission is to provide you, our client, with the best quality fruits while using the most
              environmentally friendly agricultural growing practices.
              We operate a modern hydrponics farm that ensures all our clients have fruits every season of the year.
            </p>
          </div>

        </div>

      </div>

    </div>
</section>

<section id="team" class="section-bg">
  <div class="container">
    <div class="section-header">
      <h3>Team</h3>
      <p>We are a family of farmers, each with unique personalities and talents. Our people are our most important
        resource.
        Our farm’s success is due to our passionate, driven people who work hard for a common goal to produce some
        of the best quality fruits in East Africa.
        Living by the motto “Shilayi-meaning goodness” drives us to continuously improve in our practices and to be
        more innovative.</p>
    </div>
  </div>
</section>

<section id="clients">
  <div class="container">

    <header class="section-header">
      <h3>Our Clients</h3>
    </header>

    <div class="owl-carousel clients-carousel">
      <p>Food Processing <br> Industries</p>
      <p>Hotels</p>
      <p>Bakeries</p>
      <p>Farmers <br> Market</p>
    </div>

  </div>
</section>

<section id="team" class="section-bg">
  <div class="container">
    <div class="section-header">
      <h3>BECOME ONE OF OUR FARMERS</h3>
      <p>Are you a young small holder farmer in any of the East African countries interested in growing berries?</p>
      <p><a href="contact.html" class="btn-join-us">Join Us</a></p>
    </div>
  </div>
</section>
</div>

<footer id="footer" class="section-bg">
<div class="container">
  <div class="copyright">
    &copy; Copyright <strong style="color: #c31c2d;"> Climgric</strong>. All Rights Reserved
  </div>
</div>
</footer>

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>