
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Climgric Africa,</h1> <br />
    <p><%= @contact.message %></p><br />
    <p>You can also reach me at <% @contact.phone %>.</p><br /><br />
    <p>Regards,</p><br />
    <p><%= @contact.first_name %> <%= @contact.last_name %></p>
  </body>
</html>